<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台</title>
  <link rel="stylesheet" href="/php/newscms/Public/layui-v2.2.45/css/layui.css">
  <style type="text/css">
    .layui-breadcrumb{
      background: #f2f2f2;
     line-height: 3;
     padding-left: 15px;
    }
  </style>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

  <!-- 头部 -->
  <include file="index/header" />
  <!-- 菜单 -->
  <include file="index/menu" />
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
     <div class="layui-breadcrumb">
      <a href="/php/newscms/index.php?m=admin&c=index">首页</a>
      <a href="/php/newscms/index.php?m=admin&c=menu">菜单权限</a>
      <a><cite>菜单列表</cite></a>
    </div>
    <div style="padding: 15px;">
      <div>
        <a href="/php/newscms/index.php?m=admin&c=menu&a=add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe654;</i> 添加</a>
        <button class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&#xe642;</i> 编辑</button>
      </div>
      <table class="layui-table" lay-skin="line" id="demo" lay-filter="test"></table>
    </div>
  </div>
  

  <!-- 底部 -->
 <!--  <include file="index/footer" /> -->
</div>
<script type="text/javascript" src="/php/newscms/Public/layui-v2.2.45/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;  
});
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo',
    height: 315,
    url: '/php/newscms/index.php?m=admin&c=menu', //数据接口
    page: true, //开启分页
    cols: [[ //表头
  
      {field: 'menu_id', title: 'ID', width:80, sort: true, fixed: 'left'},
      {field: 'name', title: '菜单名', width:80},
      {field: 'm', title: '模块名', width:80, sort: true},
      {field: 'type', title: '类型', width:80},
      {field: 'status', title: '状态', width: 177},
      {field: 'experience', title: '操作', width: 80, sort: true},
    ]]
  });
  
});
</script>
</body>
</html>